<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :release_date %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <label>Tags</label>
    <div style='display: flex; flex-wrap: wrap;'>
      <%= form.nested_fields :tags do |f| %>
        <%= f.text_field :name %>
        <%= f.remove_nested_fields_button 'remove' %>
      <% end %>
    </div>
    <%= form.add_nested_fields_button :tags, 'Add tag' %>
  </div>

  <div>
    <label>Comments</label>
    <%= form.nested_fields :comments do |f| %>
      <%= f.text_field :content %>
      <%= f.remove_nested_fields_button 'remove' %>
    <% end %>
    <%= form.add_nested_fields_button :comments, 'Add comment' %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
