<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <label>Comments</label>
    <%= form.nested_fields :comments do |f| %>
      <%= f.text_field :content %>
      <%= f.remove_nested_fields_link 'remove' %>
    <% end %>
    <%= form.add_nested_fields_link :comments, 'add' %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
